{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <title>Classification</title>
  </head>
  <body>
    <div class="container">
      <h4>Upload CSV</h4>
      <p>
        This form allows you to upload a CSV file with tweets and classify them. The CSV file must have a column named "text"
        with the tweet text. After the classification, a downloadable file with the results will be generated.
      </p>
      <form id="csv-upload-form" action="{% url 'classification:classify-file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="csv_file" id="csv_file" accept=".csv" />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload a CSV file" />
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Upload
          <i class="material-icons right">file_upload</i>
        </button>
      </form>

      <hr />
      
      <h4>Tweet Text Classification</h4>
      <p>
        This form allows you to classify tweets based on a search query. Provide your Twitter Developer API key and secret,
        a search query, and an end date (max 7 days before today). The Twitter API has a limited number of retrievable tweets.
        After the classification, a downloadable file with the results will be generated.
      </p>
      <form id="tweet-classification-form" action="{% url 'classification:classify' %}" method="post">
        {% csrf_token %}
        <div class="input-field">
          <input type="text" name="api_key" id="api_key" />
          <label for="api_key">API Key</label>
        </div>
        <div class="input-field">
          <input type="text" name="api_secret" id="api_secret" />
          <label for="api_secret">API Secret</label>
        </div>
        <div class="input-field">
          <input type="text" name="search_query" id="search_query" />
          <label for="search_query">Search Query</label>
        </div>
        <div class="input-field">
          <input type="text" name="end_date" id="end_date" class="datepicker" />
          <label for="end_date">End Date</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Send
          <i class="material-icons right">send</i>
        </button>
      </form>
      <div id="loader" class="row" style="display: none;">
        <div class="col s12 center-align">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p>Loading, please wait...</p>
        </div>
      </div>
      <div id="success" class="row" style="display: none;">
        <div class="col s12 center-align">
          <i class="material-icons green-text">check_circle</i>
          <p>File generated successfully!</p>
        </div>
      </div>
      {% if error %}
        <hr />
        <p>{{ error }}</p>
      {% elif results %}
        <hr />
        <p>{{ results }}</p>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      function downloadFile(data, fileName) {
        const blob = new Blob([data], { type: 'text/csv' });
        const url = window.URL.createObjectURL(blob);
        const link = document.createElement('a');
        link.href = url;
        link.download = fileName;
        link.click();
        window.URL.revokeObjectURL(url);
      }

      function hideSuccessMessage() {
        const successElem = document.getElementById('success');
        successElem.style.display = 'none';
      }

      function disableForms(disabled) {
        const forms = document.querySelectorAll('form');
        for (const form of forms) {
          const inputs = form.querySelectorAll('input, button, select');
          for (const input of inputs) {
            input.disabled = disabled;
          }
        }
      }
      
      document.addEventListener('DOMContentLoaded', function() {
        var end_date_elem = document.getElementById('end_date');
        
        var end_date_instance = M.Datepicker.init(end_date_elem, {
          autoClose: true,
          format: 'yyyy-mm-dd',
          setDefaultDate: true,
          defaultDate: new Date(end_date_elem.value)
        });
      });

      const formElem = document.getElementById('tweet-classification-form');
      formElem.addEventListener('submit', function(e) {
        e.preventDefault();
        
        const loaderElem = document.getElementById('loader');
        const successElem = document.getElementById('success');
        // const submitBtn = document.querySelector('button[type="submit"]');
        
        loaderElem.style.display = 'block';
        // submitBtn.disabled = true;
        disableForms(true);

        const xhr = new XMLHttpRequest();
        const classify_url = "{% url 'classification:classify' %}"
        xhr.open('POST', classify_url, true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.responseType = 'blob';

        xhr.onload = function() {
          if (xhr.status === 200) {
            const disposition = xhr.getResponseHeader('Content-Disposition');
            const fileName = disposition.match(/filename="(.+)"/)[1];
            downloadFile(xhr.response, fileName);

            loaderElem.style.display = 'none';
            successElem.style.display = 'block';

            setTimeout(function() {
              hideSuccessMessage();
              // submitBtn.disabled = false;
              disableForms(false);
            }, 3000);
          } else {
            // Handle error
            console.error('Request failed');
          }
        };

        xhr.send(new FormData(formElem));
      });

      const fileFormElem = document.getElementById('csv-upload-form');
      fileFormElem.addEventListener('submit', function(e) {
        e.preventDefault();

        const loaderElem = document.getElementById('loader');
        const successElem = document.getElementById('success');
        
        loaderElem.style.display = 'block';
        disableForms(true);

        const xhr = new XMLHttpRequest();
        const classify_file_url = "{% url 'classification:classify-file' %}"
        xhr.open('POST', classify_file_url, true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.responseType = 'blob';

        xhr.onload = function() {
          if (xhr.status === 200) {
            const disposition = xhr.getResponseHeader('Content-Disposition');
            const fileName = disposition.match(/filename="(.+)"/)[1];
            downloadFile(xhr.response, fileName);

            loaderElem.style.display = 'none';
            successElem.style.display = 'block';
            
            setTimeout(function() {
              hideSuccessMessage();
              disableForms(false);
            }, 3000);
          } else {
            // Handle error
            console.error('Request failed');
          }
        };

        xhr.send(new FormData(fileFormElem));
      });
    </script>
  </body>
</html>
